::selection {background: #a5a5a5; color: #fff; text-shadow: 0 0 4px #fff;}

.bodybg {background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612504740_22-p-serii-fon-profilya-steam-22.jpg) no-repeat fixed;
background-size: cover;}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
background-color: rgb(42 42 42);}

.menu__item:hover {
background: #000;}

.modal-header,.modal-footer {border:none;}

.alert-success,.alert-warning {
background-color: #0a0a0a;
border-color: #000;}

button, select {
text-transform: none;
background: #0a0a0a;
color: #fff;
border: none;}

.bg-white,.modal-content {background:#0a0a0a;}

li {list-style:none;}

.pc-menu a {
font-size: 0.6rem;}

div,a,span,h3 {color: #9b9b9b; color: #9b9b9b!important; transition:0.5s; text-decoration: none!important;}

a:hover {color:#cacaca; color:#cacaca!important; text-decoration: none;}

a.post-title { font-weight: normal;}

a.post-title:hover,.navbar-brand {color: #b5b5b53b !important;
    text-shadow: 0 0 2px white; transition:0.5s;}
.post-title-date {display:none;}
.navbar-brand:hover {color: rgb(199 199 199 / 44%)!important;
    text-shadow: 0 0 0px #6b6b6b;}

.post-content.blog_total_counter,[src="/i/user.png"], [src="/i/blog.png"],.user:before,.tag:before {display: none;}

.content {
width: 60%;
position: relative;
left: 10%;}

.post-content,.comment-content {background: #000000; margin-bottom: 10%!important; padding: 5px; border:none; border:none!important;}

.quotation {
border-left: 3px solid #ccc;}

.w-100 {margin-top:5%; }


h3 { margin-top: 10%; background: linear-gradient(89deg, #000, #acacac42, transparent) !important; font-weight:bold;}

.menu__box,.left-menu__user-notification,.left-menu__friends.left-menu__friends_offline,.blog__about,.blog__read-me,.blog__iread,.blog__tags,.blog__last-comments {border: none; border: none!important; background: #000;}
.left-menu {background:transparent; border:none; border:none!important;}

.menu__item:hover { background: linear-gradient(-90deg, #b9b9b9, #acacac42, transparent)}

.left-menu img {display:none;}

.left-menu-text {
margin-bottom: 5px;
font-size: 10px;}

.readertime,.post-opt {
font-size: 100%;}

.textareabg {background:transparent;}

textarea,textarea:focus-visible {background:#000000;color:#a7a7a7; box-shadow: 0 0 10px #343434; margin: 10px 5px 0 0; outline:none; border-radius:0px; border:none; transition:0.5s;}
input, input:focus-visible,[type=reset], [type=submit], button, html [type=button]{background:#0000009e; border:none;color:#a7a7a7; margin: 2px;}
[type=reset]:hover, [type=submit]:hover, button:hover, html [type=button]:hover {
color: #141310;
background-color: #2f2f2f;
border-color: #181a19;}

.avatar-select-label {border: 4px solid #00000000; }

.avatar-select-label-selected {border: 4px solid #2f2f2f;}



::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:1px;
height:0px;}

::-webkit-scrollbar-track {
background-color:#000;
box-shadow: none;
width: 1px;}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#020202;
box-shadow:none;
background-image:url('https://yraaa.ru/_pu/24/59610063.png">https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:2px;
height:0px}

::-webkit-scrollbar{
width: 2px;}


@media (max-width: 800px) {main.py-4 {
flex-flow: column;
}

main.py-4 {
padding: 0;
padding-left: 7px;
padding-right: 7px;
}


.content {
padding-left: 2px;
margin: 0;
width:100%;
position: initial;
}

.post-content,.comment-content {
background: #131313e6;
backdrop-filter: blur(1px);
}

.left-menu {height: auto; background-size:auto; background-attachment: fixed; background-position: 10%;}
