* {CURSOR: URL(HTTP://CUR.CURSORS-4U.NET/OTHERS/OTH-8/OTH726.PNG), AUTO !IMPORTANT; FONT-FAMILY: "NOTO COLOR EMOJI";  TEXT-TRANSFORM: UPPERCASE; TEXT-TRANSFORM: UPPERCASE !IMPORTANT;}
::SELECTION {BACKGROUND: #A5A5A5; COLOR: #FFF; TEXT-SHADOW: 0 0 4PX #FFF;}

.BODYBG {BACKGROUND: URL(HTTPS://CATHERINEASQUITHGALLERY.COM/UPLOADS/POSTS/2021-02/1612504740_22-P-SERII-FON-PROFILYA-STEAM-22.JPG) NO-REPEAT FIXED;
                BACKGROUND-SIZE: COVER;}

.MENU__BTN > SPAN, .MENU__BTN > SPAN::BEFORE, .MENU__BTN > SPAN::AFTER {
    BACKGROUND-COLOR: RGB(42 42 42);}

.MENU__ITEM,.LEFT-MENU-TEXT,.READERTIME, .POST-OPT,  .LEFT-MENU-TEXT A {COLOR: #5B5B5B !IMPORTANT;FONT-SIZE: 0.9REM;FONT-SIZE: 0.9REM !IMPORTANT;}
 .LEFT-MENU-TEXT A:HOVER {COLOR:#000; COLOR: #000!IMPORTANT;FONT-WEIGHT: BOLD;}
.MENU__ITEM:HOVER {
    BACKGROUND: #000;}

.MODAL-HEADER,.MODAL-FOOTER {BORDER:NONE;}

.ALERT-SUCCESS,.ALERT-WARNING {
    BACKGROUND-COLOR: #0A0A0A;
    BORDER-COLOR: #000;}

BUTTON, SELECT {
    TEXT-TRANSFORM: NONE;
    BACKGROUND: #0A0A0A;
    COLOR: #FFF;
    BORDER: NONE;}

.BG-WHITE,.MODAL-CONTENT {BACKGROUND:#0A0A0A;}

LI {LIST-STYLE:NONE;}

.PC-MENU A {
    FONT-SIZE: 0.6REM;}

DIV,A,SPAN,H3 {COLOR: #9B9B9B; COLOR: #9B9B9B!IMPORTANT; TRANSITION:0.5S; TEXT-DECORATION: NONE!IMPORTANT;}

A:HOVER {COLOR:#2A2A2A; COLOR:#2A2A2A!IMPORTANT; TEXT-DECORATION: NONE;}

A.POST-TITLE { FONT-WEIGHT: NORMAL;}

A.POST-TITLE:HOVER,.NAVBAR-BRAND {COLOR:FFF; COLOR: RGB(18 19 17) !IMPORTANT;TRANSITION:0,5S;}
.POST-TITLE-DATE {DISPLAY:NONE;}
.NAVBAR-BRAND:HOVER {COLOR: RGB(80 80 80)!IMPORTANT; }

.POST-CONTENT.BLOG_TOTAL_COUNTER,[SRC="/I/USER.PNG"], [SRC="/I/BLOG.PNG"],.USER:BEFORE,.TAG:BEFORE {DISPLAY: NONE;}

.CONTENT {
    WIDTH: 60%;
    POSITION: RELATIVE;
    LEFT: 10%;}

.POST-CONTENT,.COMMENT-CONTENT {BACKGROUND: #000000; MARGIN-BOTTOM: 10%!IMPORTANT; PADDING: 5PX; BORDER:NONE; BORDER:NONE!IMPORTANT;}
.IMAGEFSME { FILTER: GRAYSCALE(1); TRANSITION: .2S;}
.IMAGEFSME:HOVER {FILTER: GRAYSCALE(0); TRANSITION: .2S;}
.QUOTATION {
  BORDER-LEFT: 3PX SOLID #CCC;}

.W-100 {MARGIN-TOP:5%; }


H3 { MARGIN-TOP: 10%; BACKGROUND: LINEAR-GRADIENT(89DEG, #B9B9B9, #ACACAC42, TRANSPARENT) !IMPORTANT; FONT-WEIGHT:BOLD;}

.LEFT-MENU,.MENU__BOX {BORDER: NONE; BORDER: NONE!IMPORTANT; BACKGROUND: URL(HTTPS://SUN9-2.USERAPI.COM/QIXZPEMXDPX7HB7NAOEVGKFHVS5EMWFM86DJFG/XDGGS4LXKLY.JPG) NO-REPEAT; BACKGROUND-SIZE:CONTAIN;
    WIDTH: 300PX; HEIGHT: 798PX;}


.MENU__ITEM:HOVER { BACKGROUND: LINEAR-GRADIENT(-90DEG, #B9B9B9, #ACACAC42, TRANSPARENT)}

.LEFT-MENU IMG {DISPLAY:NONE;}

.LEFT-MENU-TEXT {
    MARGIN-BOTTOM: 5PX;
FONT-SIZE: 10PX;}

.READERTIME,.POST-OPT {
    FONT-SIZE: 100%;}

.TEXTAREABG {BACKGROUND:TRANSPARENT;}

TEXTAREA,TEXTAREA:FOCUS-VISIBLE {BACKGROUND:#000000;COLOR:#A7A7A7; BOX-SHADOW: 0 0 10PX #343434; MARGIN: 10PX 5PX 0 0; OUTLINE:NONE; BORDER-RADIUS:0PX; BORDER:NONE; TRANSITION:0.5S;}
 INPUT, INPUT:FOCUS-VISIBLE,[TYPE=RESET], [TYPE=SUBMIT], BUTTON, HTML [TYPE=BUTTON]{BACKGROUND:#0000009E; BORDER:NONE;COLOR:#A7A7A7; MARGIN: 2PX;}
[TYPE=RESET]:HOVER, [TYPE=SUBMIT]:HOVER, BUTTON:HOVER, HTML [TYPE=BUTTON]:HOVER {
    COLOR: #141310;
    BACKGROUND-COLOR: #2F2F2F;
    BORDER-COLOR: #181A19;}

.AVATAR-SELECT-LABEL {BORDER: 4PX SOLID #00000000; }

.AVATAR-SELECT-LABEL-SELECTED {BORDER: 4PX SOLID #2F2F2F;}



::-WEBKIT-SCROLLBAR-BUTTON {
BACKGROUND-IMAGE:URL('');
BACKGROUND-REPEAT:NO-REPEAT;
WIDTH:1PX;
HEIGHT:0PX;}

::-WEBKIT-SCROLLBAR-TRACK {
BACKGROUND-COLOR:#000;
BOX-SHADOW: NONE;
WIDTH: 1PX;}

::-WEBKIT-SCROLLBAR-THUMB {
-WEBKIT-BORDER-RADIUS: 0PX;
BORDER-RADIUS: 0PX;
BACKGROUND-COLOR:#020202;
BOX-SHADOW:NONE;
BACKGROUND-IMAGE:URL('HTTPS://YRAAA.RU/_PU/24/59610063.PNG">HTTPS://YRAAA.RU/_PU/24/59610063.PNG');
BACKGROUND-POSITION:CENTER;
BACKGROUND-REPEAT:NO-REPEAT;}

::-WEBKIT-RESIZER{
BACKGROUND-IMAGE:URL('');
BACKGROUND-REPEAT:NO-REPEAT;
WIDTH:2PX;
HEIGHT:0PX}

::-WEBKIT-SCROLLBAR{
WIDTH: 2PX;}


@MEDIA (MAX-WIDTH: 800PX) {MAIN.PY-4 {
    FLEX-FLOW: COLUMN;
}


MAIN.PY-4 {
    PADDING: 0;
    PADDING-LEFT: 7PX;
    PADDING-RIGHT: 7PX;
}


.CONTENT {
    PADDING-LEFT: 2PX;
    MARGIN: 0;
	WIDTH:100%;
	POSITION: INITIAL;
}

.POST-CONTENT,.COMMENT-CONTENT {
	BACKGROUND: #131313E6;
	BACKDROP-FILTER: BLUR(1PX);
}


.LEFT-MENU {HEIGHT: AUTO; BACKGROUND-SIZE:AUTO; BACKGROUND-ATTACHMENT: FIXED; BACKGROUND-POSITION: 10%;}
