@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
::selection {background: #d1b199; color: #fff; text-shadow: 0 0 4px #fff;}
* {color:#407f46; color:#407f46!important; transition: all 0.4s; font-family: 'Reggae One', sans-serif;}

.navbar-brand {content:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/dc6fef0c-9d21-42dd-a18b-9573936309d1/dbjt1r0-00335763-bae5-4479-8232-6baa2ba0bdc7.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RjNmZlZjBjLTlkMjEtNDJkZC1hMThiLTk1NzM5MzYzMDlkMVwvZGJqdDFyMC0wMDMzNTc2My1iYWU1LTQ0NzktODIzMi02YmFhMmJhMGJkYzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pea6GLjKuUvgLV7pjDTT_a9nJeI8QjMt5HnXjCnBJ5Q);}

.bodybg {background: url(https://transparenttextures.com/patterns/fake-luxury.png), linear-gradient(#d2e1a6,#d6c9a7);}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
background-color: #407f48;}

.menu__item:hover {
background: #d6c9a7;}
.menu__item::after {content:url(https://beon.vip/uploads_image/b1/2f/b12f009d415cd25bc3a9c21f579736e2.jpg);}


.modal-header,.modal-footer {border:none;}

.alert-success,.alert-warning, button, select{
background-color: #d3dfa7;
border:none;}

.bg-white,.modal-content,.menu__box {background:#d2e1a6;}

li {list-style:none;}

.pc-menu a {
font-size: 0.6rem;}

a:hover {color:#98af92; color:#98af92!important; text-decoration: none;}

a.post-title,h1 { font-weight: normal;color:#cfb199; color:#cfb199 !important; font-family: 'Lobster', cursive; text-decoration:none;display: block;}
.post-title,h1 {text-align:center;}
a.post-title::before,a.post-title::after,h1::before,h1::after {content:url(https://beon.vip/uploads_image/14/02/14026204b6fd7095aeb9895a3bcc0fbf.jpg); filter: opacity(0.7);}

.post-content.blog_total_counter,[src="/i/user.png"], [src="/i/blog.png"],.user:before,.tag:before {display: none;}

.content {
width: 70%;
position: relative;
left: 5%;}

.post-content,.comment-content, 
textarea,textarea:focus-visible,input, input:focus-visible,[type=reset], [type=submit], button, html [type=button],html [type=button]:focus-visible { background: #fdfff7;
    padding:1%;
    border:1px solid #407f46;
    border-radius:10px;
    margin-bottom:1rem;
    outline:none;}

button:hover,button:active,button:focus, html [type=button]:hover, html [type=button]:active,html [type=button]:focus {background: #d6c9a7; outline:none;border:1px solid #407f46;box-shadow:none;}

.quotation {
border-left: 3px solid #d6c9a7;}

.w-100 {margin-top:5%; }

h3 { margin-top: 10%; background: transparent !important; font-weight:bold;}

.left-menu {boerder:none; border:none!important;}

.left-menu img {display:none;}

.left-menu-text {
margin-bottom: 5px;
font-size: 10px;}

.readertime,.post-opt {
font-size: 100%;}

.textareabg {background:transparent;}

.avatar-select-label {border: 4px solid #00000000; }

.avatar-select-label-selected {border: 4px solid #cfb199;}

::-webkit-scrollbar-button {
width:5px;
height:0px;
}
::-webkit-scrollbar-track {
background-color:#dde4d4;
box-shadow: none;
width: 5px;
}
::-webkit-scrollbar-thumb {
background: #407f46;
box-shadow:none;
}
::-webkit-resizer{
width:5px;
height:0px;
}
::-webkit-scrollbar{
width: 5px;
}

@media (max-width: 800px) {main.py-4 {
flex-flow: column;
}

main.py-4 {
padding: 0;
padding-left: 7px;
padding-right: 7px;
}


.content {
padding-left: 2px;
margin: 0;
width:100%;
position: initial;
}

.post-avatar img {
    width: 80px;
}
