@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
    color:#a2a2a2;
    color:#a2a2a2 !important;   
    transition: all 0.4s;
}
a {
    text-decoration: none !important;
}
::selection {
background: #ff0100; 
color:#fff;
}
*:focus-visible {
    outline: none;
}
div#app {
    padding:0 !important;
}
.shadow-sm {
    box-shadow: none !important;
    background: transparent;
}
.alert-success,.alert-warning {
    background: transparent;
    border:none;
    box-shadow: 0 0 5px #ff0100;
}
ul {
    list-style: none;
}

body { background: url(https://beon.vip/uploads_image/11/87/1187bae28fc77a8c55780e77e9595ce3.png) no-repeat fixed 50% 50%;
            background-size:cover;}

[href="https://beon.fun"] { 
    content: url(https://beon.vip/uploads_image/b1/66/b166f5f93a5ef2c6f61aa3c3fb2e50a6.png);
    width: 120px !important;
    width:90px;
    position:relative;
    top:0px;
}

nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm { 
    background: transparent url(https://beon.vip/uploads_image/93/1b/931b9e59d0aef86e655fa96523bae961.png) no-repeat 50% 60%; 
    background-size:cover;
}
/*иконки*/
[src="/i/user.png"], [src="/i/blog.png"],[src="//beon.fun/i/offline.png"],[src="//beon.fun/i/online.png"], [src="/i/offline.png"],.user:before,.tag:before,[src="/i/online.png"],#footer,#page__rendertime,.post-content.blog_total_counter,.post-title-date, #page__admincontact, .footer__infolinks.p-1, .post-content.blog_total_counter {
    display: none;
}

button.button_down {
                                   background-image: url(https://beon.vip/uploads_image/90/8f/908fe719e11c538cee9adaab0addcec8.png) !important;
                                   background-size: contain;
                                   background-repeat: no-repeat; background-color:transparent;
                                   background-position: 60% 50%;
                                   border-radius:0% !important;
}

.btn-secondary,.btn-secondary:hover,.btn-secondary:active  {background:transparent; border: none!important;border:none; box-shadow:none!important;}
.badge-danger {color: #fff; background-color: transparent;}
.button {border: none;}
.btn-primary,.btn-success {background: transparent !important; background:#1b0c0a; color: #fff; border:none; border:none !important; transition:1s;}
.btn-primary:hover,.btn-success:hover {background: transparent !important; background:#1b0c0a; color: #d41713; border:none; border:none !important;text-shadow:    0 0 5px #ff0100,
    0 0 10px #ff0100;}

.post-avatar img { 
    box-shadow:    0 2px 2px #ff0100, 0 2px 5px #ff0100; 
    transition:1s;}

.post-avatar img:hover,.avatar-select-label:hover,.avatar-select-label-selected {
        box-shadow: none;
	animation-name: candy;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@-webkit-keyframes candy {
	15% { box-shadow: 0 2px 2px #ff89bf, 0 2px 5px #ff89bf; }
	30% { box-shadow: 0 2px 2px #fec3df, 0 2px 5px #fec3df; }
        45% { box-shadow: 0 2px 2px #ffeea8, 0 2px 5px #ffeea8; }
        60% { box-shadow: 0 2px 2px #a0f3ed, 0 2px 5px #a0f3ed; }
        75% { box-shadow: 0 2px 2px #72f0ec, 0 2px 5px #72f0ec; }
        90% { box-shadow: 0 2px 2px #bdc0f7, 0 2px 5px #bdc0f7; }
        100% { box-shadow: 0 2px 2px #9fa3e3, 0 2px 5px #9fa3e3; }
}

a:hover,span[data-target="#deleteconfirmmodal"]:hover,.liked .fas, .reposted .fas, .bookmarked .fas,i.fas.fa-heart:hover, i.fas.fa-retweet:hover, i.fas.fa-quote-left:hover, .fa:hover, .fas:hover, i.far.fa-smile-wink:hover,[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:hover, .crumb-item,.textareabg p {
    background: #ff0000;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-decoration: none;
    animation-name: ssyl;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: red;
    text-shadow: 0 0 5px;
}
@-webkit-keyframes ssyl {
        0% { background: #ff89bf; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #ff89bf;}
	15% { background: #ff89bf; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #ff89bf;}
	30% { background: #fec3df; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #fec3df;}
        45% {background: #ffeea8; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #ffeea8;}
        60% { background: #a0f3ed; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #a0f3ed;}
        75% {background: #72f0ec; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #72f0ec;}
        90% {background: #bdc0f7; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #bdc0f7;}
        100% {background: #9fa3e3; -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  text-shadow: 0 0 5px #9fa3e3;}
}

/*плеер*/
#beon-fnplayer {
    height: 25px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #1c0c0a;
    margin: auto;
    border-radius: 10px;
}

#fnplayer-play,#fnplayer-slider {
    border-color: transparent transparent transparent #9f4146;
}
#fnplayer-slider {background-color: #8f7373;}
#fnplayer-stop,#fnplayer-volume-inner {
    background: #9f4146;
}
#fnplayer-slider-inner {
    background-color: #5b0408;
}
#fnplayer-volume {
    align-items: normal;
}
#fnplayer-volume-mask {
    border-color: #1c0c0a transparent transparent transparent;
}
#fnplayer-volume-inner {
    border: 1px solid #9f4146;
}
/*плеер*/

.content {
    width: 70% !important;
    margin: 0 auto;
}


.post-text, .comment-text { 
    background: #1b0c0a; 
    border-left: 1px dotted#ff0012; 
    min-height: 100px;
    padding: 1%;
}

/*лефтменю*/
.left-menu {
    border-left: 1px dotted#ff0012; 
    border-top: 1px dotted#ff0012;
    border-bottom: none !important;
    border-right: none !important;
    width: 25%;
}
.left-menu h3 {
    background: #f6b9be !important;
    padding: 10px;
    border-top: 1px dotted#ff0012;
    font-weight: bold;
    font-size: 16px;
}
a.messageform__taglinks img {
    display: none;
}
.blog__gifts, .blog__read-me, .blog__iread, .blog__tags, .blog__last-comments,.blog__about,.left-menu__friends,.community__moders,.community__members {
    margin: auto;
    overflow: hidden;
    max-height: 46px;
    transition: 0.2s;
    transition-delay: 30s;
}

.blog__read-me:active, .blog__iread:active, .blog__gifts:active, .blog__tags:active,.blog__last-comments:active,.blog__gifts:active,
.blog__iread:active,.left-menu__friends:active,.blog__about:active,.community__moders:active,.community__members:active{
    max-height: 500px;
    transition: 0.2s;
}

.left-menu__gift img:hover {
    filter: drop-shadow(2px 4px 6px red);
}
.left-menu>div h3.left-menu-text {
    transition: 0.2s;
    font-family: 'Comforter Brush', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}
.left-menu {
    border:none !important;
    width: 24%;
    padding-right: 26px !important;
    padding-left: 26px !important;
    padding-top: 26px !important;
}

.left-menu h3 {
    background: transparent !important;

}
.post-header, .datebg,.textareabg p{
    text-align: center;
} 

.post-title,span.crumb-item,.textareabg p {
    font-size: 35px!important;
    padding-right: 5px;
    display: block;
    font-family: 'Comforter Brush', cursive;
    letter-spacing: 3px;

}
.quotation {
    margin: 1%;
    padding: 1%;
    border-left: 1px dashed red;
    color: red !important;
    text-shadow: 0 0 5px;
}



.avatar-select-label {border:none!important; border: none; width:70px !important; box-shadow:    0 2px 2px #ff0100,
        0 2px 5px #ff0100; margin-top: 5px; filter: grayscale(0.7);}

.avatar-select-label-selected,.avatar-select-label:hover {width: 80px !important; filter: grayscale(0);}
.textareabg {
    background: transparent;
}
textarea {
    background: #1d0d0a;
    border: 1px dashed red;
}
/*кнопки*/
button, input,button.btn.btn-primary {
    background: #1b0c0a;
    border: 1px dotted red;
    border-radius:5px;
}
input[type="submit"] {
    margin-top: 10px;
}
input[type="text"] {
    margin-bottom: 10px;
    max-width: 150px;
    margin-right: 10px;
}
[type=reset]:hover, [type=submit]:hover, button:hover, html [type=button]:hover,a.btn.btn-outline-primary.mb-3:hover {
    background: #1b0c0a!important;
    border: 1px dotted red;
    color: red !important;
    box-shadow: inset 0 0 4px red!important;
}
.show>.btn-outline-primary.dropdown-toggle,a.btn.btn-outline-primary.mb-3:hover,.btn-outline-primary.focus, .btn-outline-primary:focus,.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active,a.btn.btn-outline-primary.mb-3 {
    border: 1px dotted red !important;
    box-shadow: inset 0 0 4px red !important;
    animation-name: none;
    -webkit-text-fill-color: red;
}
/*кнопки конец*/

/*бегунок*/
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:2px;
height:0px
}
::-webkit-scrollbar-track {
background-color:#1b0c0a;
width: 2 px;
}
::-webkit-scrollbar-thumb {
background-color:#85020b;
box-shadow:none;

background-position:center;
background-repeat:no-repeat;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}
::-webkit-scrollbar{
width: 4px;
}
/*бегунок конец*/

@media (max-width: 800px) {
main.py-4 {
    flex-flow: column;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #1a4568;
}

main.py-4 {
    padding: auto;
    padding-left: 7px;
    padding-right: 7px;
    width: 98%!important;
}
.content,.left-menu {
    width: 100% !important;
    position: inherit;
}

.post-avatar img {
    width: 80px;
}

.fas, .far, .tag_bar > * {
    font-size: 1rem;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #c3020d;
    box-shadow: 0 0 5px red;
}

.menu__box {
    background: linear-gradient(0deg, #61090d, #1c0c0a);
}

a.menu__item {
    color: #aa0000 !important;
}
