@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
color: #0f0f0f;
color: #0f0f0f!important;
font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none !important;
}
a:hover {
text-decoration: underline !important;
}
a:hover,span[data-target="#deleteconfirmmodal"]:hover,.liked .fas, .reposted .fas, .bookmarked .fas,i.fas.fa-heart:hover, i.fas.fa-retweet:hover, i.fas.fa-quote-left:hover, .fa:hover, .fas:hover, i.far.fa-smile-wink:hover {
    color: #7e7e7e !important;
}
::selection {
background: #737373;
color:#fff;
text-shadow: 0 0 5px #fff;
}
*:focus-visible {
outline: none;
}

body {
background: url("https://i1.beon.fun/92/39/3992/76/1047276/i-2.jpg") no-repeat fixed 50% 50%;
background-size:cover;
}
a.my-menu.for-mobile.d-none.d-md-inline, a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    background: url(https://i1.beon.fun/89/16/1689/35/1049135/icons8-shevron-vniz-30.png) no-repeat center / contain;
    font-size: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    filter: drop-shadow(2px 4px 6px white);
}
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {
    background: url(https://i1.beon.fun/89/16/1689/34/1049134/icons8-shevron-vniz-30-1.png) no-repeat center / contain;
    font-size: 0px;
    width: 30px;
    height: 30px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    right: 10px;
}
/*иконки*/
[src="/i/user.png"], [src="/i/blog.png"],[src="//beon.fun/i/offline.png"],[src="//beon.fun/i/online.png"], [src="/i/offline.png"],.user:before,.tag:before,[src="/i/online.png"],#footer,#page__rendertime,.post-content.blog_total_counter,a.messageform__taglinks img,.blog:before,.left-menu__friends.left-menu__friends_offline,.blog__gifts,.blog__read-me,.blog__iread,.blog__tags,.blog__last-comments {
display: none;
}
li {list-style:none;}
/*иконки конец*/

div#app {
    padding:0 !important;
}
.bg-white {
    background: #efefeff0;
    border-bottom: 2px solid #464646;
    margin-bottom: 10px !important;
}
.crumbs {
    width: 80%;
    margin: 0 auto;
    padding:0;
}
main.py-4 {
    width: 80%;
    margin: 0 auto;
}

.post-content, .comment-content {
background:#efefef;
border:2px solid #464646;
min-height: inherit;
margin: 0 10px 20px !important;
}
.textareabg,h2 {
margin: 0 10px 20px !important;
}
.left-menu-text * {
font-size: 13px;
}
.post-text {
    font-size: 15px;
}
.post-header,.comment-header *,.textareabg p {
font-size: 13px;
font-weight:bold;
}
.post-header,.comment-header {
padding-right: 10px;
}
a.post-title:first-letter {
    text-transform: uppercase;
}
.post-avatar,.post-header, .comment-header {
    margin-left: 0 !important;
}
.post-avatar img{
border-top: 2px solid #464646;
border-right: 2px solid #464646;
border-bottom: 2px solid #464646;
}

.datebg {
    font-size: 100%;
    font-style: italic;
}

.textareabg,.alert-success,.alert-warning {background:#efefef;
border:2px solid #464646;
padding:8px;
}
#usermenu {
    background-color: #e0e0e0;
    border: 2px solid #464646;
}

.left-menu {
    border:none !important;
    width: 24%;
    padding-right: 52px !important;
}
h3 {
    background: #464646 !important;
    color: #efefef !important;
}
.notifications__comments.d-none,.left-menu__friends.left-menu__friends_offline,.blog__about,.blog__gifts,.blog__read-me,.blog__iread,.blog__tags,.blog__last-comments,.notifications__comments.left-menu__user-notification,.left-menu__user-notification.left-menu__unread-notifications,.notifications__comments,.textareabg,.community__moders, .community__members, .left-menu__user-notification.left-menu__unread-message,.left-menu__user-notification.left-menu__friends {
    background: #efefef;
    border: 2px solid #464646;
    margin-bottom:30px;
}
.left-menu__gift img {
    width: 80%;
}
.left-menu__gift {
    font-size: 0;
}
/*плеер*/
#beon-fnplayer {
    display: flex;
    align-items: center;
    background-color: #d4d4d4;
    margin: auto;
    border-radius: 4px;
    margin-top: 5px;
}

#fnplayer-play,#fnplayer-slider {
    border-color: transparent transparent transparent #271f2c;
}
#fnplayer-slider {background-color: #fff;}
#fnplayer-stop,#fnplayer-volume-inner {
    background: #271f2c;
}
#fnplayer-slider-inner {
    background-color: #271f2c;
}
#fnplayer-volume {
    align-items: normal;
    background: #271f2c !important;
}
#fnplayer-volume-mask {
    border-color: #d4d4d4 transparent transparent transparent;
    position: inherit;
}
#fnplayer-volume-inner {
    border: 1px solid #271f2c;
}
/*плеер*/
textarea {
    letter-spacing: 1px;
    background: #fdfdfd;
    border: none;
    border-radius:6px;
}
form {
    margin-bottom: 5px;
}
.unread-message {
    background: #b3b3b3;
    padding: 2px;
}
input[type="submit"],.btn-outline-primary:hover {
    border: 1px solid #464646;
    border-radius: 4px;
    margin-left: 2px;
}
input[type="submit"]:hover {
    background: #fff;
    color: #000;
}
input[type="text"],.btn-outline-primary:hover,.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    border-radius: 4px;
    border: 1px solid #464646;
    background: #f6f6f6;
    letter-spacing: 1px;
}
.btn-outline-primary {
    background-color: #dddddd;
    border-radius: 4px;
    border-color: #464646;
}
.btn-outline-primary.focus, .btn-outline-primary:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}
optgroup, select {
    border: 1px solid #464646;
    border-radius: 4px;
    background: #f6f6f6;
    letter-spacing: 1px;
}
.quotation {
    border-left: 4px solid #464646;
    color: #616161 !important;
    margin-bottom: 5px;
}
.avatar-select-label {
    border: 4px solid #ffffff00;
    width: 80px;
    filter: grayscale(0.6);
}
.avatar-select-label-selected {
    border: 2px solid #6a6a6a;
    width: 90px;
    filter:grayscale(0) drop-shadow(0 0 2px black);
}

::-webkit-scrollbar-button {
width:5px;
height:0px;
}
::-webkit-scrollbar-track {
background-color:#ccc;
box-shadow: none;
width: 5px;
}
::-webkit-scrollbar-thumb {
background: #0f0f0f;
box-shadow:none;
}
::-webkit-resizer{
width:5px;
height:0px;
}
::-webkit-scrollbar{
width: 5px;
}

@media (max-width: 800px) {
main.py-4 {
    flex-flow: column;
    width: 98%;
}
.content,.left-menu  {
width:100% !important;
padding-top: 26px;
padding-right: 0 !important;
margin:0 auto !important;
}

.post-avatar img{
width:70px !important;
}

.post-header {
font-size: 10px;
}

.fas, .far, .tag_bar > * {
    font-size: 1rem;
}
a.my-menu.for-mobile.d-none.d-md-inline, a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    position: inherit;
}
.menu__box {
    background-color: #d3d3d3;
}
.menu__item:hover {
    background-color: #e4e4e4;
}
