@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Comforter+Brush&display=swap');
::selection {background: #6200ff; color: #fff; text-shadow: 0 0 4px #fff;}
.bodybg {background: url(https://phonoteka.org/uploads/posts/2021-10/1634565314_12-phonoteka-org-p-ochen-chyornii-fon-bez-nichego-krasivie-fo-13.jpg) no-repeat fixed;
background-size: cover;}
.bg-white, .menu__box,.modal-content {background:#000;}
li {list-style-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b46861d4-f830-4896-8af6-71206fe2fe78/db7hbz9-1452db7f-4a8b-4c2e-b13c-feb6e4167917.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0Njg2MWQ0LWY4MzAtNDg5Ni04YWY2LTcxMjA2ZmUyZmU3OFwvZGI3aGJ6OS0xNDUyZGI3Zi00YThiLTRjMmUtYjEzYy1mZWI2ZTQxNjc5MTcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.j4kBiK-yeO_3lqaCQiM2oPshNjDhCzp_8j3PTNfrgo8);}
.pc-menu a {
font-size: 0.6rem;}
div,a,span,h3 {color: #a7a7a7; color: #a7a7a7!important; transition:0.5s; text-decoration: none!important; font-family: 'Comfortaa';}
a:hover {color:#fff; color:#fff !important; text-decoration: none;}
a.post-title {font-size: 30px; display: block; text-align: center;}
a.post-title:hover,.navbar-brand {color:fff; color:#fff!important;
animation: neon-3 3s steps(1, start) infinite reverse;}
@keyframes neon-3 {
0%{
color: #0b3960;
text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;}
80%{
color: #fff;
text-shadow: 0 0 6px #6200ff,0 0 10px #6200ff,0 0 50px #79a7fc;}
81%{
color: #E1F5FE;
text-shadow: 0 0 6px #6200ff,0 0 10px #6200ff,0 0 50px #79a7fc;
}
82%{color: #0b3960;
text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
}
83%{
color: #E1F5FE;
text-shadow: 0 0 6px #6200ff,0 0 10px #6200ff,0 0 50px #79a7fc;
}
84%{
color: #0b3960;
text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
}
85%{
color: #E1F5FE;
text-shadow: 0 0 6px #6200ff,0 0 10px #6200ff,0 0 50px #79a7fc;
}
100%{
color: #0b3960;
text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
}
}

.post-content.blog_total_counter,[src="/i/user.png"], [src="/i/blog.png"],.user:before,.tag:before {display: none;}
.post-content,.comment-content {background: #000; box-shadow: 0 0 10px #6200ffa3, 0 0 10px #ffffff21; border-radius: 10px; margin-bottom: 10%!important; padding: 5px;}
.w-100 {margin-top:5%;}
.fas.fa-heart {content: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/638dce4d-9cc0-433a-a4d1-4e6265af1786/dbf2vpd-21534cc8-64cd-4985-8aca-f1315c58faba.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYzOGRjZTRkLTljYzAtNDMzYS1hNGQxLTRlNjI2NWFmMTc4NlwvZGJmMnZwZC0yMTUzNGNjOC02NGNkLTQ5ODUtOGFjYS1mMTMxNWM1OGZhYmEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DLjhNzFdQz-zut0ToDcoRFvKVL9BLX2JGa1kJn_RQ-Q);}

h3 {background: #000 !important; margin-top: 10%;}
.left-menu {border:none; border:none!important;}
.text-center {display:none;}
.post-avatar img {
filter: grayscale(1) contrast(1.2); transition:1s;}
.post-avatar img:hover {filter: grayscale(0) contrast(1.1);}
.menu__item:hover {background-color: #11001d;
box-shadow: 0 0 5px #6200ff;}
.left-menu-text {
margin-bottom: 5px;
font-size: 10px;}
.readertime,.post-opt {
font-size: 100%;}
.textareabg {background:transparent;}
textarea, textarea:focus-visible,input, input:focus-visible {background:#000;color:#a7a7a7; box-shadow: 0 0 10px #6200ff; margin: 10px 5px 0 0; outline:none; border-radius:5px; border:none;}
.avatar-select-label {border: 4px solid #000; }
.avatar-select-label-selected {border: 4px solid #2f0179;}
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:1px;
height:0px;}
::-webkit-scrollbar-track {
background-color:#000;
box-shadow: none;
width: 1px;}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#2f0179;
box-shadow:none;
background-image:url('https://yraaa.ru/_pu/24/59610063.png">https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:2px;
height:0px}
::-webkit-scrollbar{
width: 2px;}

